			*{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			body{
				font-family:"Comic Sans",sans-serif;
				background-color: black;
				color: white;
			}
			.forground{
				width:80%;
				height:550px;
				background-color:#424242;
				position:absolute;
				top: 25px;
				left:50%;
				margin-left:-40%;
				padding:30px;
			}
			div.header{
				position: absolute;
				top:0px;
				width:calc(100% - 60px);
				text-align: center;
			}
			.center {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 145px;
			}
			h1{
				padding-bottom:10px
			}
			a, a:hover, a:visited {
				text-decoration: none;
				color:inherit;
			}
			img.inpic{
				position:absolute;
				top:0%;
				left:0%;
			}
			.pdf-embed-container::-webkit-scrollbar {
			    width: 0;
			    height: 0;
			}

			.pdf-embed-container iframe {
			    -webkit-user-select: none; /* Disable selection */
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    pointer-events: none; /* Disable interaction with embedded PDF */
			}